// ==============================================
// Colors
// ==============================================

$color-white: #fff;
$color-black: #2d2e2f;
$color-red: #e00707;
$color-gray: #6e7072;

$color-red-hover: #f40d15;

// ==============================================
// Font sizes
// ==============================================
