@use "../base/variables" as vars;

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  padding: 2rem 2rem 2rem 4rem;
}

///////////////////////////////////

.restaurants-item--name {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.restaurants-item--reviews {
  display: flex;
  align-items: center;
  gap: 0.24rem;
}

///////////////////////////////////

///////////////////////////////////

.restaurants-item-review-star {
  display: grid;
  place-items: center;

  background-color: orange;

  width: 2.2rem;
  height: 2.2rem;

  border-radius: 4px;
}

.restaurants-item-review-star > svg {
  color: vars.$color-white;

  font-size: 2rem;
}

///////////////////////////////////
