@use "../base/variables" as vars;

.layout {
  background-color: black;
}

.layout--auth {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;

  display: grid;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.275);
}

.layout--auth-popup {
  background-color: blue;

  width: 40rem;
  height: 45rem;
}

.layout--nav {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 6rem;

  padding: 2rem 4rem;

  border: 1px solid black;
}

.layout--nav-logo {
  color: white;

  font-size: 2.6rem;
  font-weight: 600;
}

.layout--nav-search {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.layout--nav-search-input {
  width: 40rem;
  height: 4.5rem;

  font-size: 1.6rem;

  padding: 0 2rem;
  border-radius: 8px 0 0 8px;
}

.layout--nav-search-btn {
  display: grid;
  place-items: center;

  width: 6rem;
  height: 4.5rem;

  background-color: vars.$color-red;

  border-radius: 0 8px 8px 0;

  transition: background-color 0.4s;
}

.layout--nav-search-btn:hover {
  background-color: vars.$color-red-hover;
}

.layout--nav-search-btn svg {
  color: white;

  font-size: 2.8rem;
}

.layout--btns {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.layout--btns-login,
.layout--btns-signup {
  color: white;

  min-width: fit-content;
  height: 4.5rem;

  font-size: 1.6rem;
  font-weight: 600;

  padding: 0 2rem;
  border-radius: 8px;

  transition: background-color 0.4s;
}

.layout--btns-login {
  border: 2px solid white;
}

.layout--btns-login:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.layout--btns-signup {
  background-color: vars.$color-red;
}

.layout--btns-signup:hover {
  background-color: vars.$color-red-hover;
}

.layout--footer {
  display: grid;
  place-items: center;

  color: white;

  height: 20rem;

  font-size: 1.3rem;

  border: 1px solid white;
}
