@use "../base/variables" as vars;

.layout {
  display: grid;
  place-items: center;

  height: 100vh;
}

.layout--main {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 7rem 1fr;

  width: 70rem;
  height: 65rem;

  border: 1px solid vars.$color-border;
  border-radius: 10px;
}

.layout--main-logo {
  background-color: vars.$color-red;
  color: vars.$color-white;

  height: 100%;

  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -1.5px;

  padding: 2rem 0 0 2rem;
  border-radius: 10px 0 0 0;
}

.layout--main-search-form {
  grid-row: 1;
  grid-column: 2;

  display: flex;
  justify-content: flex-end;

  padding: 2rem 2rem 0 0;
  border-radius: 0 8px 0 0;
}

.layout--main-search-form-input {
  height: 4rem;
  width: 32rem;

  font-size: 1.4rem;

  padding: 0 2rem 0 2rem;
  border: 1px solid vars.$color-red;
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.layout--main-search-form-btn {
  display: grid;
  place-items: center;

  background-color: vars.$color-red;

  height: 4rem;
  width: 5rem;

  border: 1px solid vars.$color-red;
  border-radius: 0 8px 8px 0;

  transition: 0.3s background-color ease-out;
}

.layout--main-search-form-btn:hover {
  background-color: vars.$color-red-hover;
}

.layout--main-search-form-btn > svg {
  color: vars.$color-white;

  font-size: 2.2rem;
}

.layout--main-nav {
  grid-row: 2 / -1;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  background-color: vars.$color-red;

  padding: 2rem 0 2rem 2rem;
  border-radius: 0 0 0 10px;
}

.layout--main-nav > button {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: vars.$color-white;

  text-align: left;

  margin-top: auto;
}

.layout--main-nav > button > svg {
  font-size: 2.2rem;
}

.layout--main > main {
  grid-row: 2 / -1;
  grid-column: 2;
}
